<%- errorMessagesFor(drawing) %>
<div class="control-group">
   <%- form.label("createDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createDate") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updateDate", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updateDate") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("data", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("data") %>
   </div>
</div>
