<% drawing.kapnota.sektionlist.forEach(function (sek) { %>
<h2>Sektion <%= sek.index %></h2>
<h4>Hyllplan typ 1</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Djup</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.h1.antal %></td>
                <td><%= sek.h1.bredd %></td>
                <td><%= sek.h1.djup %></td>
                <td><%= sek.h1.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Hyllplan typ 2</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Djup</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.h2.antal %></td>
                <td><%= sek.h2.bredd %></td>
                <td><%= sek.h2.djup %></td>
                <td><%= sek.h2.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Gavlar typ 1</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Höjd</th>
                <th>Djup</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.g1.antal %></td>
                <td><%= sek.g1.hojd %></td>
                <td><%= sek.g1.djup %></td>
                <td><%= sek.g1.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Bakstycke</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.bakstycke.antal %></td>
                <td><%= sek.bakstycke.bredd %></td>
                <td><%= sek.bakstycke.hojd %></td>
                <td><%= sek.bakstycke.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Fästbrädor</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.fastbrada.antal %></td>
                <td><%= sek.fastbrada.bredd %></td>
                <td><%= sek.fastbrada.hojd %></td>
                <td><%= sek.fastbrada.tjocklek %></td>
            </tr>
    </tbody>
</table>

#skåp#
<h4>Täcksida</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.tacksida.antal %></td>
                <td><%= sek.tacksida.bredd %></td>
                <td><%= sek.tacksida.hojd %></td>
                <td><%= sek.tacksida.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Skåpsgavel</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.skapsgavel.antal %></td>
                <td><%= sek.skapsgavel.bredd %></td>
                <td><%= sek.skapsgavel.hojd %></td>
                <td><%= sek.skapsgavel.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>bottenplatta</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.bottenplatta.antal %></td>
                <td><%= sek.bottenplatta.bredd %></td>
                <td><%= sek.bottenplatta.hojd %></td>
                <td><%= sek.bottenplatta.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>hyllplan skåp</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.hpskap.antal %></td>
                <td><%= sek.hpskap.bredd %></td>
                <td><%= sek.hpskap.hojd %></td>
                <td><%= sek.hpskap.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>ribbor skåp</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.ribbor.antal %></td>
                <td><%= sek.ribbor.bredd %></td>
                <td><%= sek.ribbor.hojd %></td>
                <td><%= sek.ribbor.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>Sockel</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.sockel.antal %></td>
                <td><%= sek.sockel.bredd %></td>
                <td><%= sek.sockel.hojd %></td>
                <td><%= sek.sockel.tjocklek %></td>
            </tr>
    </tbody>
</table>
<h4>bakstycke skåp</h4>
<table class="table table-bordered">
    <tbody>
        <thead>
            <tr>
                <th>Antal</th>
                <th>Bredd</th>
                <th>Höjd</th>
                <th>Tjocklek</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td><%= sek.bakstyckeskap.antal %></td>
                <td><%= sek.bakstyckeskap.bredd %></td>
                <td><%= sek.bakstyckeskap.hojd %></td>
                <td><%= sek.bakstyckeskap.tjocklek %></td>
            </tr>
    </tbody>
</table>


<% }); %>  
<% drawing.kapnota.sektionlist.forEach(function (sek) { %>
<h2>Överbyggnad <%= sek.index %></h2>
Kapnota kommer
<% }); %>  