<% if(questionaire.answered) { %>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Vad tycker du om hemsidans layout/utseende?</th>
            <td><%= int_to_satisfied(questionaire.design_page) %></td>
        </tr>
        <tr>
            <th>Vad tycker du om ritverktygets layout/utseende?</th>
            <td><%= int_to_satisfied(questionaire.design_ritverktyg) %></td>
        </tr>
        <tr>
            <th>Vad tycker du om hemsidans funktionalitet?</th>
            <td><%= int_to_satisfied(questionaire.funktion_hemsida) %></td>
        </tr>
        <tr>
            <th>Vad tycker du om ritverktygets funktionalitet?</th>
            <td><%= int_to_satisfied(questionaire.funktion_ritverktyg) %></td>
        </tr>
        <tr>
            <th>Kan du tänka dig att rekommendera oss till andra?</th>
            <td><%= bool_string(questionaire.recommend,"Ja","Nej") %></td>
        </tr>
    </tbody>
</table>
<% } %>