 

<div class="page-header">
    <h1>Details of drawing</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr><th>Created</th><td><%= date_format(drawing.createDate) %></td></tr>
        <tr><th>Last updated</th><td><%= date_format(drawing.updateDate) %></td></tr>
        <tr>
            <th>Email</th>
            <td>
                <% if (drawing.email) { %>
                    <%- link_to(drawing.email,"mailto:"+drawing.email) %>
                <% } %>
                
            </td>
        </tr>
        <tr>
            <th>Answered questionaire</th>
            <td>
                <% if (drawing.questionaire) { %>
                    <% include _questionaire %>
                <% } %>
                
            </td>
        </tr>
        <tr><th>Drawing</th><td><a href="<%- link_to_site_admin('ritverktyg/#'+drawing.id) %>">Open/Edit Drawing</a></td></tr>
        <tr><th>data</th><td><%= drawing.data %></td></tr>    
    </tbody>
</table>
<table class="table table-bordered">
    <tbody>
        <tr><th>Modell</th><td><%= drawing.kapnota.modell %></td></tr>
        <tr><th>Antal sektioner</th><td><%= drawing.kapnota.sektioner %></td></tr>
        <tr><th>Antal överbyggnader</th><td><%= drawing.kapnota.overbyggnader %></td></tr>
        <tr><th>Breddyttermått</th><td><%= drawing.kapnota.breddyttermatt %></td></tr>
        <tr><th>Höjdyttermått</th><td><%= drawing.kapnota.hojdyttermatt %></td></tr>
    </tbody>
</table>

<% if(drawing.kapnota.modell=="ribersborg") { %>
<%- partial('kapnota_ribersborg') %> 
<% } else { %>
<%- partial('kapnota_davidhall') %> 
<% } %>


<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_drawing(drawing), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.drawing(drawing), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.drawings()) %>
</div>