<%- errorMessagesFor(order) %>

<%- form.input("new",{type:"hidden"}) %>
<%- form.input("createDate",{type:"hidden"}) %>
<%- form.input("updateDate",{type:"hidden"}) %>

<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("adress", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("adress") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("zip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("zip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("wantsfunding", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.checkbox("wantsfunding") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("drawing id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("drawing") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("comment", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("comment") %>
   </div>
</div>
