<div class="page-header">
    <h1>Orders</h1>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> New order', path_to.new_order(), {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (orders.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>New</th>
                        <th>Status</th>
                        <th class="">Date</th>
                        <th class="hide">Name</th>
                        <th>Email</th>                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(function (order) { %>
                        <tr>
                            <td><p class="label <%- bool_string(order.new,"label-success", "label-info")%>"><%- bool_string(order.new,"Yes", "No") %></p></td>
                            <td><p class="label"><%- status_selector_value(order.status) %></p></td>
                            <td class=""><%- link_to(date_format(order.createDate),path_to.order(order)) %></td>
                            <td class="hide"><strong><%- link_to(order.name, path_to.order(order)) %></strong></td>
                            <td><strong><%- link_to(order.email, path_to.order(order)) %></strong></td>
                            <td>
                                <%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_order(order), {class: 'btn btn-mini'}) %>
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.order(order), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No orders were found.</strong> 
            </p>
        <% } %>
    </div>
</div>