<div class="hero-unit">
	<h1>Welcome to the backend for platsbyggd bokhylla.se!</h1>
	<p>This system contains tools for viewing, and working with incoming orders as well as plain drawings.</p>
	<p><%- link_to('Visit platsbyggdbokhylla.se &raquo;', link_to_site(), {class: 'btn btn-primary btn-large'}) %></p>
	
</div>
<div class="row">
	<div class="span6">
	  <h2>Orders (<%= orderCount %> in total)</h2>
	  <p>Review and edit incoming orders. There're <%= orderCountNew %> new orders right now.</p>
	  <p><%- link_to('View orders &raquo;', path_to.orders(), {class: 'btn'}) %></p>
	</div>
	<div class="span6">
	  <h2>Drawings (<%= drawingCount %> in total)</h2>
	  <p>See a list of all saved drawings, some are connected to orders and some are work in progress. </p>
	  <p><%- link_to('View drawings &raquo;', path_to.drawings(), {class: 'btn'}) %></p>
	</div>
</div>

<hr>